.modal__package {
  z-index: 999;
  cursor: zoom-out;
}

.modal__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}

.modal__image__wrapper {
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal__image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.modal__shadow {
  background: rgba(0, 0, 0, 0.95);
}

.modal--95 {
  width: 100%;
  height: 100%;
  transform: scale(0.95, 0.95);
}

.modal--100 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.outline {
  transition: ease-in-out all 0.15s;
  box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.85);
}

